.container-habilidades{
    /* border: 1px solid red; */
    width: 100%;
    height: 25rem;
}

.hab-text{
    margin-left: 15rem;
    margin-top: 5rem;
}
.mis{
    color: #ffffff;
    position: relative;
    margin-right: 1rem;
}
.title3{
    font-size: 2rem;
    color: #286f6b;
}
/* .circulos{
    border: 1px solid green;
    height: 10rem;
} */
.circulo-2{
    width: 25rem;
    height: 25rem;
    border-radius: 40rem;
    background-color: #286f6b;
    /* margin-top: 10rem; */
    position: absolute;
    margin-top: -4rem;
    margin-left: -4rem;
}
.circulo-orange{
    width: 10rem;
    height: 10rem;
    border-radius: 15rem;
    background-color: #f26440;
    position: absolute;
    margin-top: 10rem;
    margin-left: 11rem;
}
.hab-cajas{
    /* border: 1px solid black; */
    margin-left: 10rem;
    display: inline-flex;
    /* background-color:#fef2f2; */
    width: 35rem;
    height: 13rem;
}
.hab-1{
    background-color:#fef2f2 ;
    margin-right: 1rem;
    padding: .5rem;
}
.hab-2{
    background-color:#fef2f2 ;
    margin-right: 1rem;
    padding: .5rem;
}
.hab-3{
    background-color:#fef2f2 ;
    padding: .5rem;
}
.title-hab{
    font-size: 1rem;
    font-weight: 900;
    padding-left: 1rem;
}
/* .parrafo-hab{
    text-align: left;

} */