.portafolio{
    /* border: 1px solid black; */
    background-color: #286f6b;
    display: inline-block;
    /* position:absolute; */
    
    height: 40rem;
}
.img1-portafolio{
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: .2rem .2rem;
    position: absolute;
    margin-left: 3rem;
    margin-top: -4rem;
}
.parrafo-porta{
    font-weight:600;
}

.img2-portafolio{
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: .2rem .2rem;
    position: absolute;
    margin-left: 48rem;
    margin-top: 2rem;
    
}
.txt-portafolio{
    color: #ffffff;
    /* border: #ffffff 1px solid; */
    padding: 2rem;
    padding-left: 40rem;
    padding-top: 1rem;
}
.txt__title-porta{
    font-size: 2.5rem;
    font-weight: 600;
}