body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.navbar-home{
    /* border: 1px solid black; */
    background-color: #fef2f2;
    text-align: right;
    padding: 2rem;
}
.home{
    text-decoration: none;
    margin-right: 3rem;
    color: black;
}
.color-home{
    color: #286f6b;
    font-weight: 900;
    margin: 2rem;
}
.home-info{
    background-color: #fef2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt-social{
    display: inline-block;
    text-align: center;
    
}

.title1{
    background-color: cadetblue;
    font-size: 4rem;
    font-weight: 600;
}
.social-icons{
    background-color: aquamarine;
    text-align: center;    
}
.img-social{
    background-color: #f26440;
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    margin-right: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}
.foto-propia{
    border: 1px solid red;
    position: relative;
}

.circulo-1{
    background-color: #286f6b;
    display: flex;
    justify-content: right;
    width: 23rem;
    height: 23rem;
    border-radius: 20rem;
  
}

/* .acerca-deMi{
    border: 1px solid black;
    width: 100%;
    height: 15rem;
    margin-top: 3rem;
}
.text-acerca-deMi{ */
    /* border: 1px solid mediumspringgreen;
    width: 45rem;
    text-align: justify;
    margin-top: 6rem;
    margin-left: 15rem;
}
.title2{
    color: #286f6b;
    font-size: 2rem;
}
.parrafo-1{
    color: #969392;
} */