/* SCROLL */
.row::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
.row::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
.row::-webkit-scrollbar-thumb {
    background-color: transparent;    /* color of the scroll thumb */
    /* border-radius: 10px;       roundness of the scroll thumb */
    /* border: 1px solid rgb(235, 225, 206);  creates padding around scroll thumb */
  }
/* FIN SCROLL */

/* HABILIDADES */
.container-habilidades{
    display: grid;
    grid-template-columns: 25% 65%;
}

.circulos{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

.circulo-2{
    background-color: #286f6b;
    width: 18rem;
    height: 18rem;
    border-radius: 20rem;
    display: inline-block;
    position: relative;
    margin-left: -7rem;
    top:-5%
}
.circulo-orange{
    width: 8rem;
    height: 8rem;
    border-radius: 15rem;
    background-color: #f26440;
    position: relative;
    left: 40%;
    top: -33%;
}
.title3-habilidades{
    position: relative;
}
.mis{
    color: #ffffff;
    position: absolute;
    left: -5rem;
}
.title3{
    font-size: 2rem;
    color: #286f6b;
    display: inline-flex;
    justify-items: right;
    position:relative;
    left: 3rem;
    justify-content: flex-end;
    margin-right: 1rem;
}
.title-hab{
    font-size: 1rem;
    font-weight: 900;
    padding-left: 1rem;
    
}
.row{
    display: flex;
    flex-wrap:wrap;
}
.cards{
    flex-wrap: nowrap;
    display: flex;
    overflow: auto;
    gap: 1rem;
}
.col-4{
    width: 33.33%;
}
.card{
    min-width: 250px;
    text-align: justify;
}
.hab-cajas{
    margin-left: 5rem;
}
.hab-1, .hab-2, .hab-3{
    background-color:#fef2f2 ;
    padding: 1rem;
}
.hab-3{
    margin-right: 0;
}


/* MEDIA QUERIES */
@media (min-width: 500px){
    .mis{
        left: -6rem;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .mis{
        left: -6-5rem;
    }
    .circulo-2{
        top: -7%;
        margin-left: -6rem;
    }
    .circulo-orange{
        top: -37%
    }
    
}
@media (min-width: 660px){
    .title3{
        left: 1rem;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
.circulo-2{
    width: 23rem;
    height: 23rem;
   left: -6rem;
}
.circulo-orange{
    width: 9rem;
    height: 9rem;
    border-radius: 15rem;
    left: 20%;
}
.title3{
    left: -2rem;
}

}
@media (min-width: 840px){
    .circulo-2{
        left: -5rem;
    }
}
@media (min-width: 910px){
.circulo-2{
    left:-4rem ;
}
.title3{
    left: -2.5rem;
}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px){
.circulo-2{
 
}
.circulo-orange{
    width: 10.5rem;
    height: 10.5rem;
 }
.title3{
    left: -4rem;
}

}
@media (min-width: 1100px){
    .circulo-2{
        width: 25rem;
        height: 25rem;
       
    }
    .title3{
    left: -5rem;
}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
    .card{
        min-width: 200px;
    }
   
 .circulo-orange{
    width: 10rem;
    height: 10rem;
 }
.title3{
    left: -6rem;
}
}
