.hidden {
    display: none;
    text-align: right;
}

#nav li {
    padding: 10px 5px;
    text-align: center;
}
.narvar-home {
    height: 1rem;
}
/* estilo de menu */
.hidden a {
    text-decoration: none;
    color: #286f6b;
}
.boton-1 {
    background-color: transparent;
    border-style: none;
    margin: 2rem;
}
/* color de la palabra home del menú */
.color-home {
    color: rgba(7, 81, 53, 0.775);
    font-weight: 900;
    font-size: 120%;
    margin: 2rem;
}

/* otro segmento */
.circulo-1 {
    background-color: #286f6b;
    display: flex;
    width: 15rem;
    height: 15rem;
    border-radius: 20rem;
    top: 20%;
    left: 12%;
}

.p-relative {
    position: relative;
}

.circulo-1 {
    position: absolute;
    right: -5%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-home {
        margin-right: 0.5rem;
        width: 100%;
    }
    .navbar-home ul {
        background-color: transparent;
    }
    .home {
        margin-right: 1rem;
        width: 100%;
    }

    #nav li {
        display: inline-block;
    }
    #nav {
        display: block;
    }
.boton-1 {
        display: none;
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        .navbar-home {
            margin-right: 0;
        }
        .navbar-home ul {
            background-color: transparent;
        }
        #nav li {
            display: inline-block;
        }
        #nav {
            display: block;
        }
      .boton-1 {
            display: none;
        }
    }

    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        #nav li {
            display: inline-block;
        }
        #nav {
            display: block;
        }
    .boton-1 {
            display: none;
        }
    }
}
