.container-contacto{  
    display: grid;
    grid-template-columns: 30% auto ;
    grid-template-rows: 20% 20% 10%;
}
.contacto{
    font-size: 1.2rem;
    color: #286f6b;
    grid-column: 1/span 2;
    grid-row: 1;
    margin-left: 3rem;
    position: relative;

}
.circulo-3{
    width: 17rem;
    height: 17rem;
    border-radius: 20rem;
    background-color: #28686b41;
    margin-top: -11rem;
    margin-left: -8rem;
  
}
.container__circulos-oranges{
    grid-column: 1 / span 2;
    justify-content: center;
    align-items: center;
    gap: 10%;
    display: flex;
    grid-row: 2;
    margin-left: 0;
    position: relative;
    top: 0;
}

.circulo__small-1, .circulo__small-2{
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
    background-color: #f26440;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.caja__info{
    text-align: center;
}
.caja__info h3{
    color: #286f6b;
    font-size: 1rem;
}
.caja__info p{
    color: #969392;
    font-size: .8rem;
}

@media ( min-width: 360px ){
    .circulo__small-1, .circulo__small-2 {
        width: 3rem;
        height: 3rem;
    }
    .circulo__small-1 img, .circulo__small-2 img{
        width: 2rem;
        height: 2rem;
    }
    .container-contacto{
    align-content: center;
    justify-content: start;
    align-items: start;
    justify-items: start;
    width: 25rem;
    }
    .contacto{
        top: -3rem;
    }
    .container__circulos-oranges{
        left: 4rem;
        align-items: center;
    }
    .circulo-3{
        margin-left: -10rem;
        margin-top: -13rem;
    }
}

@media (min-width: 720px) {
    .container__circulos-oranges{
        left: 14rem;
    }
}

@media (min-width: 992px){
    .circulo__small-1, .circulo__small-2{
        width: 6rem;
        height: 6rem;
        border-radius: 10rem;
        background-color: #f26440;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .circulo__small-1 img, .circulo__small-2 img{
        width: 3rem;
        height: 3rem;
    }

    .container__circulos-oranges{
        grid-column: 1 / span 2;
        justify-content: center;
        align-items: center;
        gap: 15rem;
        display: flex;
        grid-row: 2;
        margin-left: 0;
        position: relative;
        top: 0;
        left: 30rem;
    }
}
