.container-contacto{  
    display: grid;
    grid-template-columns: 30% auto ;
    grid-template-rows: 20% 20% 10%;
}
.contacto{
    font-size: 2rem;
    color: #286f6b;
    grid-column: 1/span 2;
    grid-row: 2;
    margin-left: 3rem;
    position: relative;
    top: 10%;
}
.circulo-3{
    width: 17rem;
    height: 17rem;
    border-radius: 20rem;
    background-color: #28686b41;
    margin-top: 16rem;
    margin-left: -6rem;
  
}
.container__circulos-oranges{
    grid-column: 1/span 2;
    justify-items: left;
    gap: 10%;
    display: inline-flex;
    grid-row: 3;
    margin-left: 2rem; 
    position: relative;
    top: 10%;
}

.circulo__small-1, .circulo__small-2{
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
    background-color: #f26440;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.caja__info{
    text-align: center;
}
.caja__info h3{
    color: #286f6b;
    font-size: 1rem;
}
.caja__info p{
    color: #969392;
    font-size: .8rem;
}
/* DIV ACADEMLO */

.container__final{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 1rem;
    color: #f26440;
    font-weight: 700; 
    margin: auto;
}
.heart{
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background: #f26440;
    margin-top: 1rem;

}
.heart:before,
.heart:after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f26440;
}
.heart {
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background: #f26440;
    top: 10rem;
    left: 10rem;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f26440;
    position: absolute;
  }
  
  .heart:before {
    top: 0;
    left: -10px;
  }
  
  .heart:after {
    top: -10px;
  }

  /* MEDIA QUERIES */

  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
.container__circulos-oranges{
    justify-content: center;
}
}

  /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){

.contacto{
    margin-left: 4rem;       
}
.circulo-3{
    width: 20rem;
    height: 20rem;
    margin-top: 17rem;      
}
.container__circulos-oranges{   
    gap: 20%;
}
    
}
@media (min-width: 992px){
    .contacto{
        margin-left: 8rem;       
    }
    .circulo-3{
        width: 25rem;
        height: 25rem;
        margin-top: 18rem;      
    }
    .container__circulos-oranges{ 
        margin-left: 4rem;  
        gap: 25%;
    }
}
