body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: #286f6b;
}


